{
    admin off
    auto_https off
    persist_config off
    frankenphp
}
http://127.0.0.1:{$DESKTOP_PORT:8765} {
    bind 127.0.0.1
    root * "{$APP_PUBLIC_DIR:public}"
    handle /favicon.ico {
        @missing not file
        respond @missing 204
        file_server
    }
    handle {
        php_server
    }
}
